@use 'src/Styles/vars';

.footer{
    color: #fff;
    padding: 1em 2em;
    background-color: vars.$colorBase;
    margin-top: auto;

    &-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px;

        img{
            margin-bottom: 20px;
        }
        
        &-nav{
            margin: 10px;
        }
    }
}
