@import 'src/Styles/vars';

.itinerary__title{
  font-family: 'WorkSans';
  text-align: center;
  margin: 50px;
  font-size: 2rem;
  font-weight: 100;
  &::after{
    content: '';
    background-color: $yellow;
    width: 100px;
    height: 3px;
    display: block;
    margin: 20px auto;  
  }
}

.important{
  color: red;
}


button{
  display: block;
  margin: 0 auto;
  background-color: $background;
  font-family: 'WorkSans';
}

.filter-btn{
  margin: 20px 0;
  &-changeFilter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
      text-align: center;
      font-size: 0.8rem;
      span{
        color: red;
      }
    }
    button{
      margin: 5px;
      .active{
        background-color: $blue;
      }
    }
  }
}

.input-group{
  margin: 20px 30px;
  font-family: 'WorkSans';
  p{
    font-weight: bold;
  }
  .MuiButtonBase-root{
    display: flex;
  }
  .MuiTypography-root{
    margin-left: 10px;
  }
}

.label{
  margin: 10px 0;
  font-weight: bold;
}
.label-range{
  margin: 50px 0;
  font-weight: bold;
}