@import 'src/Styles/vars';

.link{
  margin-top: 10px;
    a{
      color: $yellow;
      font-size: 1.5rem;
      margin: 10px;
    }
    .fb{
      color: #00a8e8;
    }
    .insta{
      color: #ff0080;
    }
}
