@import 'src/Styles/vars';

.home{
    background-color: $colorBase;
    color: #fff;


    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 10px;

        .icon{
            font-size: 3rem;
            margin-bottom: 30px;
        }
        h2{
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 0.8rem;
            font-size: 1.3rem;
            margin-bottom: 30px;
        &::after{
            content: '';
            background-color: $yellow;
            width: 100px;
            height: 1px;
            display: block;
            margin: 20px auto;
        }
        }

        img{
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
        }

        h3{
            font-family: 'Anton';
            font-weight: 100;
            font-size: 1.5rem;
            margin: 50px auto;
        }
        p{
            text-align: center;
            line-height: 1.4rem;
            &::after{
                content: '';
            background-color: $yellow;
            width: 100px;
            height: 1px;
            display: block;
            margin: 20px auto;
            }
        }
        .btn-link{
            margin-top: 50px;
            color: #fff;
            border-color: $yellow;
            font-family: 'WorkSans';
            &:hover{
                border-color: $yellow;
            }
        }
    }
}


@media  screen and (min-width: 768px) {
    .mobile-img{
        display: none;
    }
}