@import 'src/Styles/vars';

.user{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 0;

  .btn-link{
    display: block;
    margin: 10px auto;
    color: $colorBase;
    border-color: $yellow;
    font-family: 'WorkSans';
    &:hover{
        border-color: $yellow;
    }
}

.btn-bike{
  display: block;
  margin: 10px auto;
  font-family: 'WorkSans';
  &:hover{
      border-color: $yellow;
  }
}

  .title-description {
    color: $colorBase;
    font-family: "Anton";
    font-weight: 100;
    text-align: center;
    margin: 50px 0;
  }

  .title-description-user {
    color: $colorBase;
    font-family: "Anton";
    font-weight: 100;
    text-align: center;
    &::after{
      content: '';
      background-color: $yellow;
      width: 30px;
      height: 2px;
      display: block;
      margin: 5px auto;
    }
  }

    &-infos{
      text-align: center;
      margin: 20px 0;
      font-weight: bold;
      font-style: italic;
      text-decoration: underline;
    }

    &__picture{
      margin-top: 20px;
      width: 30%;
      display: block;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  &__detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      margin: 20px;
      padding: 10px 50px;
      font-size: 1.2rem;
    }
   
   span{
      margin: 0px 0 30px 0;
      padding: 10px 50px;
      font-size: 1.2rem;
      color: $colorBase;
    }
    p{
      margin: 0px 10px 30px 10px;
      padding: 10px 50px;
      font-size: 1rem;
      text-align: center;
      color: $colorSecond;
    }
    
  }
  
      input, textarea{
         width: 100%;
         margin: 20px 0;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid $blue;
         font-family: 'Poppins', sans-serif;
      }
    }


