@use '_reset';
@use 'vars';

@font-face {
    font-family: 'WorkSans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/Anton-Regular.ttf');
}

body {
    font-family: 'WorkSans', sans-serif;
    background: rgb(245, 247, 250);
}


img {
    max-width: 100%;
    display: block;
  }

#root{
  height: 100%;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2em;
}
